@use '../abstracts';

.home {
    color: #212922;

    &__header {
        position: fixed;
        top: 0;
        right: 0;
    }

    &__title {
        color: #212922;
        font-family: 'DM Serif Display';
        font-size: 3.8rem;
        font-weight: 400;
        opacity: 0.7;

        @include abstracts.screen(md) {
            font-size: 3.3rem;
        }
        @include abstracts.screen(sm) {
            font-size: 2.8rem;
        }
    }
}

@supports (animation-timeline: scroll(y)) {
    .home {
        &__header {
            background-color: transparent;
            animation: header-scroll linear forwards;
            animation-timeline: scroll(y);
            animation-range-start: 0px;
            animation-range-end: 750px;
        }
    }
}
@keyframes header-scroll {
    to {
        background-color: var(--header-bg-color);
    }
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    background-image: url('../imgs/home-hero.png');
    background-position: center;
    background-size: cover;

    &__content {
        margin: 0 12px;
    }

    &__bg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }

    &__span {
        color: #fff;
        display: block;
        font-size: 6rem;
        font-weight: 700;

        @include abstracts.screen(md) {
            font-size: 5rem;
        }
        @include abstracts.screen(sm) {
            font-size: 4.8rem;
        }
    }

    &__span-mark {
        display: block;
        color: #47c052;
        font-family: 'DM Serif Display';
        font-size: 7rem;
        font-style: italic;
        letter-spacing: 0.14rem;

        @include abstracts.screen(md) {
            font-size: 6rem;
        }
        @include abstracts.screen(sm) {
            font-size: 5.8rem;
        }
    }

    &__desc {
        font-family: 'DM Sans';
        margin-top: 55px;
        padding-right: 40px;
        color: #fff;
        font-size: 2.6rem;
        font-weight: 400;
        letter-spacing: 0.0312rem;

        @include abstracts.screen(md) {
            margin-top: 30px;
        }
        @include abstracts.screen(sm) {
            margin-top: 20px;
        }
    }

    &__video {
        margin-top: 20px;
        width: 100%;
        background-color: #212922;

        @include abstracts.screen(md) {
            margin-top: 30px;
        }
        @include abstracts.screen(sm) {
            margin-top: 20px;
        }
    }
}

.services {
    margin: 0 24px;
    padding: 80px 0 40px;

    @include abstracts.screen(sm) {
        padding: 60px 0 20px;
    }

    &__row {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__more {
        font-family: 'DM Sans';
        display: inline-block;
        color: inherit;
        font-size: 1.8rem;
        line-height: 142.444%;
        padding-left: 12px;
        padding: 16px;

        @include abstracts.screen(sm) {
            font-size: 1.5rem;
        }

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            text-underline-offset: 8px;
            color: #34733a;
        }
    }

    &__desc {
        font-family: 'DM Sans';
        margin-top: 30px;
        max-width: 850px;
        width: 100%;
        font-size: 2rem;
        line-height: 144.455%;
        letter-spacing: 0.12rem;

        @include abstracts.screen(md) {
            margin-top: 20px;
            font-size: 1.8rem;
        }
        @include abstracts.screen(sm) {
            margin-top: 16px;
            font-size: 1.6rem;
        }
    }

    &__list {
        margin-top: 70px;
        display: flex;
        gap: 40px;

        @include abstracts.screen(md) {
            flex-direction: column;
        }
    }

    &__item {
        padding: 25px 33px;
        border-radius: 12px;
        border: 1px solid #f0f0f0;
        background: #fff;
        flex: 1;

        @include abstracts.screen(sm) {
            padding: 20px 24px;
        }

        &:hover {
            box-shadow: 0px 4px 20px 0px rgba(33, 41, 34, 0.25);
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 280px;
        object-fit: cover;
        border-radius: 12px;
    }

    &__item-title {
        margin-top: 25px;
        font-family: 'DM Sans';
        font-size: 2.4rem;
        font-weight: 700;
        opacity: 0.9;
    }

    &__item-desc {
        margin-top: 15px;
        font-family: 'DM Sans';
        font-size: 1.5rem;
        letter-spacing: 0.12rem;
    }
}

.impact {
    margin: 0 24px;
    padding: 40px 0;

    &__title {
        margin-top: 40px;
        @include abstracts.screen(sm) {
            margin-top: 20px;
        }
    }

    &__row {
        margin-top: 50px;
        align-items: center;

        @include abstracts.screen(md) {
            margin-top: 25px;
        }
        @include abstracts.screen(sm) {
            margin-top: 16px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 25px;

        padding-left: 20px;
    }

    &__number {
        color: #5b8266;
        font-family: 'DM Serif Display';
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 122.222%;
        letter-spacing: 0.3rem;

        @include abstracts.screen(md) {
            font-size: 3rem;
        }
        @include abstracts.screen(sm) {
            font-size: 2.8rem;
        }
    }

    &__desc {
        margin-top: 20px;
        color: #161c2d;
        font-family: 'DM Sans';
        font-size: 2.4rem;
        line-height: 133.333%;

        @include abstracts.screen(md) {
            font-size: 2rem;
        }
        @include abstracts.screen(sm) {
            font-size: 1.6rem;
        }
    }

    &__image-wrapper {
        @include abstracts.screen(md) {
            margin-top: 40px;
        }
    }

    &__images {
        width: 100%;
    }
}

.team {
    margin: 0 24px;
    padding: 40px 0;

    &__title {
        margin-top: 40px;
        @include abstracts.screen(sm) {
            margin-top: 20px;
        }
    }

    &__desc {
        font-family: 'DM Sans';
        margin-top: 35px;
        max-width: 70%;
        font-size: 2rem;

        @include abstracts.screen(md) {
            margin-top: 25px;
        }

        @include abstracts.screen(sm) {
            margin-top: 16px;
            max-width: 100%;
            font-size: 1.8rem;
            line-height: 1.2;
        }
    }

    &__list {
        display: flex;
        margin-top: 40px;
        gap: 24px;
        flex-wrap: nowrap;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
    }

    &-item {
        --width: 25%;

        width: calc(var(--width) - 24px);
        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid #f0f0f0;

        overflow: hidden;

        @include abstracts.screen(lg) {
            --width: calc(100% / 3);
        }
        @include abstracts.screen(sm) {
            --width: calc(100% / 2);
        }
        @include abstracts.screen(xs) {
            --width: calc(100% / 1 + 24px);
        }

        &:hover {
            .team-item__img {
                filter: grayscale(0);
            }
            .team-item__info {
                background: #e5ebe6;
            }
            .team-item__name {
                color: #294936;
            }
            .team-item__socials {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &-item__avatar {
        position: relative;
    }

    &-item__img {
        width: 100%;
        border-radius: 12px 12px 0 0;
        filter: grayscale(1);
        transition: filter 0.2s linear;
        user-select: none;
    }

    &-item__socials {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 10px;
        width: 100%;
        gap: 20px;

        visibility: hidden;
        opacity: 0;

        transition: visibility 0.2s linear, opacity 0.2s linear;
    }

    &-item__social {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 50%;

        &:hover {
            background-color: #34733a;

            .team-item__social-icon {
                filter: invert(1);
            }
        }
    }

    &-item__social-icon {
        width: 18px;
    }

    &-item__info {
        padding: 20px;
        text-align: center;
        transition: background 0.2s linear;
    }

    &-item__name {
        font-family: 'DM Serif Display';
        font-size: 2.2rem;

        transition-property: color;
        transition: 0.2s linear;
    }

    &-item__job {
        margin-top: 10px;
        color: #34733a;
        font-family: 'DM Sans';
        font-size: 1.5rem;
        font-weight: 500;
    }

    &-item__more {
        margin-top: 24px;
        width: min(150px, calc(100% - 16px));
        height: 44px;

        font-family: 'DM Sans';
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 144.444%;

        border: 1px solid #34733a;
        border-radius: 12px;
        transition: 0.2s linear;
        transition-property: background-color, color;

        &:hover {
            cursor: pointer;
            background-color: #34733a;
            color: var(--white-color);
        }
    }
}
