@import url("https://cdn.jsdelivr.net/gh/777hanh777hanh/reset-css/assets/css/resetcss/reset.min.css");
/* Grid System */
/* Desktop First */
.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 24px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: calc(var(--grid-gutter-y));
  max-width: 100%;
}

.col {
  flex: 1 0;
}

.container {
  max-width: 1320px;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0 {
  --grid-gutter-x: 0px;
  --grid-gutter-y: 0px;
}

.gx-0 {
  --grid-gutter-x: 0px;
}

.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1 {
  --grid-gutter-x: 6px;
  --grid-gutter-y: 6px;
}

.gx-1 {
  --grid-gutter-x: 6px;
}

.gy-1 {
  --grid-gutter-y: 6px;
}

.g-2 {
  --grid-gutter-x: 12px;
  --grid-gutter-y: 12px;
}

.gx-2 {
  --grid-gutter-x: 12px;
}

.gy-2 {
  --grid-gutter-y: 12px;
}

.g-3 {
  --grid-gutter-x: 24px;
  --grid-gutter-y: 24px;
}

.gx-3 {
  --grid-gutter-x: 24px;
}

.gy-3 {
  --grid-gutter-y: 24px;
}

.g-4 {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 30px;
}

.gx-4 {
  --grid-gutter-x: 30px;
}

.gy-4 {
  --grid-gutter-y: 30px;
}

.g-5 {
  --grid-gutter-x: 36px;
  --grid-gutter-y: 36px;
}

.gx-5 {
  --grid-gutter-x: 36px;
}

.gy-5 {
  --grid-gutter-y: 36px;
}

.g-6 {
  --grid-gutter-x: 72px;
  --grid-gutter-y: 72px;
}

.gx-6 {
  --grid-gutter-x: 72px;
}

.gy-6 {
  --grid-gutter-y: 72px;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline {
  display: inline !important;
}

.d-none {
  display: none !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-flex-start {
  align-items: flex-start !important;
}

.align-items-flex-end {
  align-items: flex-end !important;
}

.align-items-start {
  align-items: start !important;
}

.align-items-end {
  align-items: end !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1 {
    --grid-gutter-x: 6px;
    --grid-gutter-y: 6px;
  }
  .gx-xl-1 {
    --grid-gutter-x: 6px;
  }
  .gy-xl-1 {
    --grid-gutter-y: 6px;
  }
  .g-xl-2 {
    --grid-gutter-x: 12px;
    --grid-gutter-y: 12px;
  }
  .gx-xl-2 {
    --grid-gutter-x: 12px;
  }
  .gy-xl-2 {
    --grid-gutter-y: 12px;
  }
  .g-xl-3 {
    --grid-gutter-x: 24px;
    --grid-gutter-y: 24px;
  }
  .gx-xl-3 {
    --grid-gutter-x: 24px;
  }
  .gy-xl-3 {
    --grid-gutter-y: 24px;
  }
  .g-xl-4 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-xl-4 {
    --grid-gutter-x: 30px;
  }
  .gy-xl-4 {
    --grid-gutter-y: 30px;
  }
  .g-xl-5 {
    --grid-gutter-x: 36px;
    --grid-gutter-y: 36px;
  }
  .gx-xl-5 {
    --grid-gutter-x: 36px;
  }
  .gy-xl-5 {
    --grid-gutter-y: 36px;
  }
  .g-xl-6 {
    --grid-gutter-x: 72px;
    --grid-gutter-y: 72px;
  }
  .gx-xl-6 {
    --grid-gutter-x: 72px;
  }
  .gy-xl-6 {
    --grid-gutter-y: 72px;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-none {
    display: none !important;
  }
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-justify {
    text-align: justify !important;
  }
  .justify-content-xl-start {
    justify-content: flex-start !important;
  }
  .justify-content-xl-end {
    justify-content: flex-end !important;
  }
  .justify-content-xl-center {
    justify-content: center !important;
  }
  .justify-content-xl-between {
    justify-content: space-between !important;
  }
  .justify-content-xl-around {
    justify-content: space-around !important;
  }
  .justify-content-xl-evenly {
    justify-content: space-evenly !important;
  }
  .align-items-xl-stretch {
    align-items: stretch !important;
  }
  .align-items-xl-center {
    align-items: center !important;
  }
  .align-items-xl-flex-start {
    align-items: flex-start !important;
  }
  .align-items-xl-flex-end {
    align-items: flex-end !important;
  }
  .align-items-xl-start {
    align-items: start !important;
  }
  .align-items-xl-end {
    align-items: end !important;
  }
  .align-items-xl-baseline {
    align-items: baseline !important;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1 {
    --grid-gutter-x: 6px;
    --grid-gutter-y: 6px;
  }
  .gx-lg-1 {
    --grid-gutter-x: 6px;
  }
  .gy-lg-1 {
    --grid-gutter-y: 6px;
  }
  .g-lg-2 {
    --grid-gutter-x: 12px;
    --grid-gutter-y: 12px;
  }
  .gx-lg-2 {
    --grid-gutter-x: 12px;
  }
  .gy-lg-2 {
    --grid-gutter-y: 12px;
  }
  .g-lg-3 {
    --grid-gutter-x: 24px;
    --grid-gutter-y: 24px;
  }
  .gx-lg-3 {
    --grid-gutter-x: 24px;
  }
  .gy-lg-3 {
    --grid-gutter-y: 24px;
  }
  .g-lg-4 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-lg-4 {
    --grid-gutter-x: 30px;
  }
  .gy-lg-4 {
    --grid-gutter-y: 30px;
  }
  .g-lg-5 {
    --grid-gutter-x: 36px;
    --grid-gutter-y: 36px;
  }
  .gx-lg-5 {
    --grid-gutter-x: 36px;
  }
  .gy-lg-5 {
    --grid-gutter-y: 36px;
  }
  .g-lg-6 {
    --grid-gutter-x: 72px;
    --grid-gutter-y: 72px;
  }
  .gx-lg-6 {
    --grid-gutter-x: 72px;
  }
  .gy-lg-6 {
    --grid-gutter-y: 72px;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-none {
    display: none !important;
  }
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-justify {
    text-align: justify !important;
  }
  .justify-content-lg-start {
    justify-content: flex-start !important;
  }
  .justify-content-lg-end {
    justify-content: flex-end !important;
  }
  .justify-content-lg-center {
    justify-content: center !important;
  }
  .justify-content-lg-between {
    justify-content: space-between !important;
  }
  .justify-content-lg-around {
    justify-content: space-around !important;
  }
  .justify-content-lg-evenly {
    justify-content: space-evenly !important;
  }
  .align-items-lg-stretch {
    align-items: stretch !important;
  }
  .align-items-lg-center {
    align-items: center !important;
  }
  .align-items-lg-flex-start {
    align-items: flex-start !important;
  }
  .align-items-lg-flex-end {
    align-items: flex-end !important;
  }
  .align-items-lg-start {
    align-items: start !important;
  }
  .align-items-lg-end {
    align-items: end !important;
  }
  .align-items-lg-baseline {
    align-items: baseline !important;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1 {
    --grid-gutter-x: 6px;
    --grid-gutter-y: 6px;
  }
  .gx-md-1 {
    --grid-gutter-x: 6px;
  }
  .gy-md-1 {
    --grid-gutter-y: 6px;
  }
  .g-md-2 {
    --grid-gutter-x: 12px;
    --grid-gutter-y: 12px;
  }
  .gx-md-2 {
    --grid-gutter-x: 12px;
  }
  .gy-md-2 {
    --grid-gutter-y: 12px;
  }
  .g-md-3 {
    --grid-gutter-x: 24px;
    --grid-gutter-y: 24px;
  }
  .gx-md-3 {
    --grid-gutter-x: 24px;
  }
  .gy-md-3 {
    --grid-gutter-y: 24px;
  }
  .g-md-4 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-md-4 {
    --grid-gutter-x: 30px;
  }
  .gy-md-4 {
    --grid-gutter-y: 30px;
  }
  .g-md-5 {
    --grid-gutter-x: 36px;
    --grid-gutter-y: 36px;
  }
  .gx-md-5 {
    --grid-gutter-x: 36px;
  }
  .gy-md-5 {
    --grid-gutter-y: 36px;
  }
  .g-md-6 {
    --grid-gutter-x: 72px;
    --grid-gutter-y: 72px;
  }
  .gx-md-6 {
    --grid-gutter-x: 72px;
  }
  .gy-md-6 {
    --grid-gutter-y: 72px;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-none {
    display: none !important;
  }
  .text-md-left {
    text-align: left !important;
  }
  .text-md-center {
    text-align: center !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-justify {
    text-align: justify !important;
  }
  .justify-content-md-start {
    justify-content: flex-start !important;
  }
  .justify-content-md-end {
    justify-content: flex-end !important;
  }
  .justify-content-md-center {
    justify-content: center !important;
  }
  .justify-content-md-between {
    justify-content: space-between !important;
  }
  .justify-content-md-around {
    justify-content: space-around !important;
  }
  .justify-content-md-evenly {
    justify-content: space-evenly !important;
  }
  .align-items-md-stretch {
    align-items: stretch !important;
  }
  .align-items-md-center {
    align-items: center !important;
  }
  .align-items-md-flex-start {
    align-items: flex-start !important;
  }
  .align-items-md-flex-end {
    align-items: flex-end !important;
  }
  .align-items-md-start {
    align-items: start !important;
  }
  .align-items-md-end {
    align-items: end !important;
  }
  .align-items-md-baseline {
    align-items: baseline !important;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1 {
    --grid-gutter-x: 6px;
    --grid-gutter-y: 6px;
  }
  .gx-sm-1 {
    --grid-gutter-x: 6px;
  }
  .gy-sm-1 {
    --grid-gutter-y: 6px;
  }
  .g-sm-2 {
    --grid-gutter-x: 12px;
    --grid-gutter-y: 12px;
  }
  .gx-sm-2 {
    --grid-gutter-x: 12px;
  }
  .gy-sm-2 {
    --grid-gutter-y: 12px;
  }
  .g-sm-3 {
    --grid-gutter-x: 24px;
    --grid-gutter-y: 24px;
  }
  .gx-sm-3 {
    --grid-gutter-x: 24px;
  }
  .gy-sm-3 {
    --grid-gutter-y: 24px;
  }
  .g-sm-4 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-sm-4 {
    --grid-gutter-x: 30px;
  }
  .gy-sm-4 {
    --grid-gutter-y: 30px;
  }
  .g-sm-5 {
    --grid-gutter-x: 36px;
    --grid-gutter-y: 36px;
  }
  .gx-sm-5 {
    --grid-gutter-x: 36px;
  }
  .gy-sm-5 {
    --grid-gutter-y: 36px;
  }
  .g-sm-6 {
    --grid-gutter-x: 72px;
    --grid-gutter-y: 72px;
  }
  .gx-sm-6 {
    --grid-gutter-x: 72px;
  }
  .gy-sm-6 {
    --grid-gutter-y: 72px;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-none {
    display: none !important;
  }
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-justify {
    text-align: justify !important;
  }
  .justify-content-sm-start {
    justify-content: flex-start !important;
  }
  .justify-content-sm-end {
    justify-content: flex-end !important;
  }
  .justify-content-sm-center {
    justify-content: center !important;
  }
  .justify-content-sm-between {
    justify-content: space-between !important;
  }
  .justify-content-sm-around {
    justify-content: space-around !important;
  }
  .justify-content-sm-evenly {
    justify-content: space-evenly !important;
  }
  .align-items-sm-stretch {
    align-items: stretch !important;
  }
  .align-items-sm-center {
    align-items: center !important;
  }
  .align-items-sm-flex-start {
    align-items: flex-start !important;
  }
  .align-items-sm-flex-end {
    align-items: flex-end !important;
  }
  .align-items-sm-start {
    align-items: start !important;
  }
  .align-items-sm-end {
    align-items: end !important;
  }
  .align-items-sm-baseline {
    align-items: baseline !important;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-xs-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xs-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xs-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xs-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xs-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xs-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xs-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xs-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xs-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xs-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xs-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xs-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xs-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xs-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xs-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xs-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xs-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xs-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xs-0 {
    margin-left: 0;
  }
  .offset-xs-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xs-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xs-3 {
    margin-left: 25%;
  }
  .offset-xs-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xs-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xs-6 {
    margin-left: 50%;
  }
  .offset-xs-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xs-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xs-9 {
    margin-left: 75%;
  }
  .offset-xs-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xs-11 {
    margin-left: 91.6666666667%;
  }
  .g-xs-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-xs-0 {
    --grid-gutter-x: 0px;
  }
  .gy-xs-0 {
    --grid-gutter-y: 0px;
  }
  .g-xs-1 {
    --grid-gutter-x: 6px;
    --grid-gutter-y: 6px;
  }
  .gx-xs-1 {
    --grid-gutter-x: 6px;
  }
  .gy-xs-1 {
    --grid-gutter-y: 6px;
  }
  .g-xs-2 {
    --grid-gutter-x: 12px;
    --grid-gutter-y: 12px;
  }
  .gx-xs-2 {
    --grid-gutter-x: 12px;
  }
  .gy-xs-2 {
    --grid-gutter-y: 12px;
  }
  .g-xs-3 {
    --grid-gutter-x: 24px;
    --grid-gutter-y: 24px;
  }
  .gx-xs-3 {
    --grid-gutter-x: 24px;
  }
  .gy-xs-3 {
    --grid-gutter-y: 24px;
  }
  .g-xs-4 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-xs-4 {
    --grid-gutter-x: 30px;
  }
  .gy-xs-4 {
    --grid-gutter-y: 30px;
  }
  .g-xs-5 {
    --grid-gutter-x: 36px;
    --grid-gutter-y: 36px;
  }
  .gx-xs-5 {
    --grid-gutter-x: 36px;
  }
  .gy-xs-5 {
    --grid-gutter-y: 36px;
  }
  .g-xs-6 {
    --grid-gutter-x: 72px;
    --grid-gutter-y: 72px;
  }
  .gx-xs-6 {
    --grid-gutter-x: 72px;
  }
  .gy-xs-6 {
    --grid-gutter-y: 72px;
  }
  .d-xs-flex {
    display: flex !important;
  }
  .d-xs-grid {
    display: grid !important;
  }
  .d-xs-block {
    display: block !important;
  }
  .d-xs-inline-block {
    display: inline-block !important;
  }
  .d-xs-inline {
    display: inline !important;
  }
  .d-xs-none {
    display: none !important;
  }
  .text-xs-left {
    text-align: left !important;
  }
  .text-xs-center {
    text-align: center !important;
  }
  .text-xs-right {
    text-align: right !important;
  }
  .text-xs-justify {
    text-align: justify !important;
  }
  .justify-content-xs-start {
    justify-content: flex-start !important;
  }
  .justify-content-xs-end {
    justify-content: flex-end !important;
  }
  .justify-content-xs-center {
    justify-content: center !important;
  }
  .justify-content-xs-between {
    justify-content: space-between !important;
  }
  .justify-content-xs-around {
    justify-content: space-around !important;
  }
  .justify-content-xs-evenly {
    justify-content: space-evenly !important;
  }
  .align-items-xs-stretch {
    align-items: stretch !important;
  }
  .align-items-xs-center {
    align-items: center !important;
  }
  .align-items-xs-flex-start {
    align-items: flex-start !important;
  }
  .align-items-xs-flex-end {
    align-items: flex-end !important;
  }
  .align-items-xs-start {
    align-items: start !important;
  }
  .align-items-xs-end {
    align-items: end !important;
  }
  .align-items-xs-baseline {
    align-items: baseline !important;
  }
}
html {
  --text-color: #212922;
  --white-color: #fff;
  --body-bg-color: #fff;
  --header-bg-color: #212922;
  --icon-header-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7468%)
      hue-rotate(127deg) brightness(99%) contrast(99%);
  --icon-header-hovering-color: brightness(0) saturate(100%) invert(67%) sepia(50%) saturate(565%)
      hue-rotate(75deg) brightness(86%) contrast(91%);
  --footer-bg-color: #212922;
  --footer-icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7468%)
      hue-rotate(127deg) brightness(99%) contrast(99%);
  --footer-icon-hovering-color: brightness(0) saturate(100%) invert(67%) sepia(50%) saturate(565%)
      hue-rotate(75deg) brightness(86%) contrast(91%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM San";
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--body-bg-color);
}

.header {
  background-color: #212922;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.navbar {
  display: flex;
  padding: 15px 24px;
}
.navbar.show .menu {
  translate: 0;
  visibility: visible;
}
.navbar.show .navbar__overlay {
  display: block;
  visibility: visible;
  opacity: 1;
}
.navbar__overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 0;
  transition: 0.3s linear;
  transition-property: opacity, visibility;
}

.menu {
  margin-left: 80px;
  margin-right: auto;
}
@media (max-width: 1199.98px) {
  .menu {
    margin-left: unset;
    margin-right: unset;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70%;
    visibility: hidden;
    background-color: #212922;
    translate: -100%;
    z-index: 999;
    transition: translate 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }
}
@media (max-width: 991.98px) {
  .menu__item:not(:first-child) {
    margin-top: 30px;
  }
}
@media (max-width: 767.98px) {
  .menu {
    width: 100%;
  }
}
.menu__list {
  position: relative;
  display: flex;
  height: 100%;
}
@media (max-width: 1199.98px) {
  .menu__list {
    flex-direction: column;
    padding: 40px 20px;
  }
}
@media (max-width: 767.98px) {
  .menu__list {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
.menu__list-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.menu__list-close-icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7468%) hue-rotate(127deg) brightness(99%) contrast(99%);
}
.menu__link {
  display: block;
  padding: 10px 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--white-color);
}
@media (max-width: 991.98px) {
  .menu__link {
    font-size: 2rem;
  }
}
.menu__link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.header__cta {
  margin-left: auto;
  padding: 10px 27px;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 8px;
  color: #47c052;
  border: 1px solid #47c052;
  transition: 0.125s linear;
  transition-property: background-color, color;
}
@media (max-width: 1199.98px) {
  .header__cta {
    margin-left: unset;
  }
}
.header__cta:hover {
  cursor: pointer;
  background-color: #47c052;
  color: var(--white-color);
}

.header__more {
  display: none;
  width: 38px;
  height: 38px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: rotate(180deg);
}
.header__more-icon {
  display: block;
  width: 100%;
  height: 100%;
  filter: var(--icon-header-color);
}
.header__more-icon:hover {
  filter: var(--icon-header-hovering-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 60px;
}
@media (max-width: 1199.98px) {
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
}
.logo__text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 145.455%;
  color: #47c052;
}
.logo__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer {
  background: var(--footer-bg-color);
  color: var(--white-color);
}
.footer__inner {
  padding: 120px 0;
}
@media (max-width: 575.98px) {
  .footer__col {
    text-align: center;
  }
}
@media (max-width: 991.98px) {
  .footer__brand {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 575.98px) {
  .footer__brand {
    flex-direction: column;
    align-items: center;
  }
}
.footer__logo {
  width: 55px;
}
@media (max-width: 1199.98px) {
  .footer__logo {
    margin-left: unset;
    margin-right: unset;
  }
}
@media (max-width: 575.98px) {
  .footer__logo {
    margin-right: auto;
    margin-left: auto;
  }
}
.footer__info {
  margin-top: 24px;
}
.footer__title {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 136.842%;
  letter-spacing: 0.12rem;
  user-select: none;
}
.footer__title--large {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12rem;
}
.footer__desc {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.015rem;
  opacity: 0.65;
}
.footer__socials {
  margin-top: 105px;
}
@media (max-width: 991.98px) {
  .footer__socials {
    margin-top: 0;
    margin-left: auto;
  }
}
@media (max-width: 575.98px) {
  .footer__socials {
    margin-top: 20px;
    margin-left: unset;
  }
}
.footer__socials-list {
  display: flex;
  gap: 20px;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
.footer__social-icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: var(--footer-icon-color);
  transition: filter 0.15s linear;
}
.footer__social-icon:hover {
  filter: var(--footer-icon-hovering-color);
}
.footer__list {
  margin-top: 20px;
}
.footer__item {
  display: inline-block;
  margin-top: 16px;
  color: #ccc;
}
.footer__item:hover {
  text-decoration: underline;
  color: var(--white-color);
  text-underline-offset: 6px;
}
.footer__copyright {
  margin-top: 100px;
  font-size: 1.2rem;
  opacity: 0.65;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  translate: -50% -50%;
  transition: 0.2s linear;
  transition-property: visibility, opacity;
  z-index: 99999;
}
.modal.show {
  visibility: visible;
  opacity: 1;
}
.modal.show ~ .modal__overlay {
  visibility: visible;
  opacity: 1;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s linear;
  transition-property: visibility, opacity;
}
.modal__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  right: 30px;
  width: 32px;
  height: 32px;
}
.modal__close:hover {
  cursor: pointer;
}
.modal__close:hover .modal__close-icon {
  filter: brightness(0) saturate(100%) invert(67%) sepia(50%) saturate(565%) hue-rotate(75deg) brightness(86%) contrast(91%);
}
.modal__close-icon {
  width: 100%;
  height: 100%;
}

.modal-content {
  position: relative;
  display: flex;
  gap: 24px;
  margin-top: 2vh;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: none;
  border-radius: 20px;
  background: linear-gradient(90deg, #5b8266, #5b8266 30%, #fff 30%, #fff);
}
.modal-content__inner {
  margin-left: auto;
  padding: 50px 40px 50px 0;
  width: 60%;
  overflow-y: scroll;
  overscroll-behavior-y: none;
}
.modal-content__title {
  color: #212922;
  font-family: "DM Serif Display";
  font-size: 3.6rem;
  line-height: 150%;
}
.modal-content__job {
  margin-top: 16px;
  color: #34733a;
  font-family: "DM Sans";
  font-size: 2rem;
  font-weight: 700;
  line-height: 144.444%;
}
.modal-content__body {
  margin-top: 30px;
}
.modal-content__desc {
  color: #212922;
  font-family: "DM Sans";
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 144.444%;
}
.modal-content__desc + .modal-content__desc {
  margin-top: 10px;
}
.modal-content__socials {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.modal-content__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
.modal-content__social:hover .modal-content__social-icon {
  filter: brightness(0) saturate(100%) invert(67%) sepia(50%) saturate(565%) hue-rotate(75deg) brightness(86%) contrast(91%);
}
.modal-content__avatar {
  width: 40%;
  margin-top: 50px;
  position: sticky;
  top: 50px;
}
.modal-content__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  top: 40px;
  left: 40px;
  width: min(330px, 100% - 80px);
}

.home {
  color: #212922;
}
.home__header {
  position: fixed;
  top: 0;
  right: 0;
}
.home__title {
  color: #212922;
  font-family: "DM Serif Display";
  font-size: 3.8rem;
  font-weight: 400;
  opacity: 0.7;
}

@supports (animation-timeline: scroll(y)) {
  .home__header {
    background-color: transparent;
    animation: header-scroll linear forwards;
    animation-timeline: scroll(y);
    animation-range-start: 0px;
    animation-range-end: 750px;
  }
}
@keyframes header-scroll {
  to {
    background-color: var(--header-bg-color);
  }
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 800px;
  background-image: url("../imgs/home-hero.png");
  background-position: center;
  background-size: cover;
}
.hero__content {
  margin: 0 12px;
}
.hero__bg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.hero__span {
  color: #fff;
  display: block;
  font-size: 6rem;
  font-weight: 700;
}
.hero__span-mark {
  display: block;
  color: #47c052;
  font-family: "DM Serif Display";
  font-size: 7rem;
  font-style: italic;
  letter-spacing: 0.14rem;
}
.hero__desc {
  margin-top: 55px;
  padding-right: 40px;
  color: #fff;
  font-size: 2.6rem;
  font-weight: 400;
  letter-spacing: 0.0312rem;
}
.hero__video {
  margin-top: 20px;
  width: 100%;
  background-color: #212922;
}

.services {
  margin: 0 24px;
  padding: 80px 0 40px;
}
.services__desc {
  margin-top: 30px;
  max-width: 850px;
  width: 100%;
  font-size: 2rem;
  letter-spacing: 0.12rem;
}
.services__list {
  margin-top: 70px;
  display: flex;
  gap: 40px;
}
.services__item {
  padding: 25px 33px;
  border-radius: 12px;
  border: 1px solid #f0f0f0;
  background: #fff;
}
.services__item:hover {
  box-shadow: 0px 4px 20px 0px rgba(33, 41, 34, 0.25);
}
.services__img {
  display: block;
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 12px;
}
.services__item-title {
  margin-top: 25px;
  font-family: "DM Sans";
  font-size: 2.4rem;
  font-weight: 700;
  opacity: 0.9;
}
.services__item-desc {
  margin-top: 15px;
  font-family: "DM Sans";
  font-size: 1.5rem;
  letter-spacing: 0.12rem;
}

.impact {
  margin: 0 24px;
  padding: 40px 0;
}
.impact__title {
  margin-top: 40px;
}
.impact__row {
  margin-top: 50px;
  align-items: center;
}
.impact__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 20px;
}
.impact__number {
  color: #5b8266;
  font-family: "DM Serif Display";
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 122.222%;
  letter-spacing: 0.3rem;
}
.impact__desc {
  margin-top: 20px;
  color: #161c2d;
  font-family: "DM Sans";
  font-size: 2.4rem;
  line-height: 133.333%;
}
.impact__images {
  width: 100%;
}

.team {
  margin: 0 24px;
  padding: 40px 0;
}
.team__title {
  margin-top: 40px;
}
.team__desc {
  margin-top: 35px;
  max-width: 70%;
  width: 100%;
}
.team__list {
  display: flex;
  margin-top: 40px;
  gap: 24px;
  flex-wrap: nowrap;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}
.team-item {
  --width: 25%;
  width: calc(var(--width) - 24px);
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  overflow: hidden;
}
.team-item:hover .team-item__img {
  filter: grayscale(0);
}
.team-item:hover .team-item__info {
  background: #e5ebe6;
}
.team-item:hover .team-item__name {
  color: #294936;
}
.team-item:hover .team-item__socials {
  visibility: visible;
  opacity: 1;
}
.team-item__avatar {
  position: relative;
}
.team-item__img {
  width: 100%;
  border-radius: 12px 12px 0 0;
  filter: grayscale(1);
  transition: filter 0.2s linear;
  user-select: none;
}
.team-item__socials {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  width: 100%;
  gap: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}
.team-item__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
}
.team-item__social:hover {
  background-color: #34733a;
}
.team-item__social:hover .team-item__social-icon {
  filter: invert(1);
}
.team-item__social-icon {
  width: 18px;
}
.team-item__info {
  padding: 20px;
  text-align: center;
  transition: background 0.2s linear;
}
.team-item__name {
  font-family: "DM Serif Display";
  font-size: 2.2rem;
  transition-property: color;
  transition: 0.2s linear;
}
.team-item__job {
  margin-top: 10px;
  color: #34733a;
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-weight: 500;
}
.team-item__more {
  margin-top: 24px;
  width: 150px;
  height: 44px;
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 144.444%;
  border: 1px solid #34733a;
  border-radius: 12px;
  transition: 0.2s linear;
  transition-property: background-color, color;
}
.team-item__more:hover {
  cursor: pointer;
  background-color: #34733a;
  color: var(--white-color);
}

/*# sourceMappingURL=main.css.map */
