@use '../abstracts';

.logo {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 60px;

    @include abstracts.screen(lg) {
        margin-left: auto;
        margin-right: auto;
    }

    &__text {
        font-size: 3rem;
        font-weight: 700;
        line-height: 145.455%;
        color: #47c052;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
