<div class="container">
    <div class="footer__inner">
        <div class="footer__top">
            <div class="row gy-6 row-cols-5 row-cols-md-3 row-cols-xs-1">
                <div class="col col-4 col-md-12">
                    <div class="footer__col footer__brand">
                        <div class="footer__group">
                            <div class="footer__logo logo">
                                <a href="/pdl-site">
                                    <img
                                        src="../assets/imgs/logo.png"
                                        alt="Pharos Digital Labs"
                                        class="logo__img"
                                    />
                                </a>
                            </div>
                            <div class="footer__info">
                                <h2 class="footer__title footer__title--large">Pharos Digital Labs</h2>
                                <p class="footer__desc">You've got a business, we have got brilliant mind.</p>
                            </div>
                        </div>
                        <div class="footer__socials">
                            <ul class="footer__socials-list">
                                <li>
                                    <a href="#!" class="footer__social"
                                        ><img
                                            src="../assets/icons/twitter.svg"
                                            alt=""
                                            class="footer__social-icon"
                                    /></a>
                                </li>
                                <li>
                                    <a href="#!" class="footer__social"
                                        ><img
                                            src="../assets/icons/facebook.svg"
                                            alt=""
                                            class="footer__social-icon"
                                    /></a>
                                </li>
                                <li>
                                    <a href="#!" class="footer__social">
                                        <img
                                            src="../assets/icons/instagram.svg"
                                            alt=""
                                            class="footer__social-icon"
                                    /></a>
                                </li>
                                <li>
                                    <a href="#!" class="footer__social"
                                        ><img
                                            src="../assets/icons/linkedin.svg"
                                            alt=""
                                            class="footer__social-icon"
                                    /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Contact -->
                <div class="col">
                    <div class="footer__col">
                        <h2 class="footer__title">CONTACT</h2>
                        <ul class="footer__list">
                            <li><a href="#!" class="footer__item"> +614-0019-9558</a></li>
                            <li><a href="#!" class="footer__item">pharosdigitallabs.com</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Menu -->
                <div class="col">
                    <div class="footer__col">
                        <h2 class="footer__title">MENU</h2>
                        <ul class="footer__list">
                            <li><a href="../pages/home.html" class="footer__item">Home</a></li>
                            <li>
                                <a href="../pages/philosophy.html" class="footer__item">Our Philosophy</a>
                            </li>
                            <li><a href="../pages/solutions.html" class="footer__item">Our Solutions</a></li>
                            <li><a href="../pages/contact.html" class="footer__item">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Over view -->
                <div class="col">
                    <div class="footer__col">
                        <h2 class="footer__title">OVER VIEW</h2>
                        <ul class="footer__list">
                            <li><a href="#services-section" class="footer__item">Services</a></li>
                            <li><a href="#impact-section" class="footer__item">Our Impact</a></li>
                            <li><a href="#team-section" class="footer__item">Our Team</a></li>
                            <li><a href="#testimonials-section" class="footer__item">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1">
                <p class="footer__copyright text-center">© 2024 | Powered by 777hanh</p>
            </div>
        </div>
    </div>
</div>
