<div class="header__inner">
    <div class="container">
        <nav class="navbar hide" id="navbar">
            <button class="header__more d-none d-lg-flex js-toggle" toggle-target="#navbar" type="button">
                <img src="../assets/icons/menu.svg" alt="" class="icon header__more-icon" />
            </button>
            <div class="logo">
                <a href="/pdl-site">
                    <img src="../assets/imgs/logo.png" alt="Pharos Digital Labs" class="logo__img" />
                </a>
            </div>
            <div class="menu">
                <ul class="menu__list">
                    <button
                        class="menu__list-close d-none d-sm-block js-toggle"
                        toggle-target="#navbar"
                        type="button"
                    >
                        <img src="../assets/icons/close.svg" alt="" class="icon menu__list-close-icon" />
                    </button>
                    <li class="menu__item"><a href="./home.html" class="menu__link">HOME</a></li>
                    <li class="menu__item">
                        <a href="./philosophy.html" class="menu__link">OUR PHILOSOPHY</a>
                    </li>
                    <li class="menu__item">
                        <a href="./solutions.html" class="menu__link">OUR SOLUTIONS</a>
                    </li>
                    <li class="menu__item">
                        <a href="./contact.html" class="menu__link">CONTACT US</a>
                    </li>
                    <li class="menu__item">
                        <button class="header__cta d-none d-md-flex">Book A Free Consultation</button>
                    </li>
                </ul>
            </div>
            <button class="header__cta d-md-none">Book A Free Consultation</button>

            <div class="navbar__overlay d-none d-md-block js-toggle" toggle-target="#navbar"></div>
        </nav>
    </div>
</div>
