// Sass Variables
$font-family: 'DM San';
$font-family-secondary: 'DM Serif Display';
$font-size-reset: 62.5%;
$font-size-base: 1.6rem;

// CSS Variables
html {
    --text-color: #212922;
    --white-color: #fff;
    --body-bg-color: #fff;
}
